
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
body{
background-image: url("http://wallpapercave.com/wp/CyT83yY.jpg");
}

h1{
    margin:0 auto;
    display: inline-block;
}

.container{
  width:80%;
  height:auto;
  margin:0 auto;
}
form{
    margin:0px auto;

}

#textContainer{
  border:solid black 1px;
  width:100%;
  height:400px;
     overflow: scroll;
       background-color: white;
}

.Login{
  margin-top: 30px;
  border:solid 1px black;
  width:200px;
  text-align: center;
  background-color: white;
}
.Signin{
    margin-top: 30px;
  border:solid 1px black;
    width:200px;
      text-align: center;
      background-color: white;
}

.allMessages li{
   list-style-type: none;
}

.all{

  border:black solid 1px;
  background-color: lightblue;
}

#InputHere{
  width:800px;
  margin-top:20px;
  margin-bottom: 20px;
}
