
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
body{

}

h1{
    margin:0 auto;
    display: inline-block;
}

.container{
  width:300px;
  height:auto;
  margin:0 auto;
}
form{
    margin:0px auto;

}

#textContainer{
  border:solid black 1px;
  width:300px;
  height:400px;
     overflow: scroll;
}

.Login{
  border:solid 1px black;
  width:200px;
}
.Signin{
  border:solid 1px black;
    width:200px;
}
